$dark: (
  blue-50: hsl(236, 33%, 92%),
  blue-100: hsl(234, 39%, 85%),
  blue-400: hsl(234, 11%, 52%),
  blue-600: hsl(233, 14%, 35%),
  blue-700: hsl(237, 14%, 26%),
  box: hsl(235, 24%, 19%),
  background: hsl(235, 21%, 11%),
  primary: green, 
);