.container{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  &.dark{
    background: url(../../assets/bg-desktop-dark.jpg);
  }
  &.light{
    background: url(../../assets/bg-desktop-light.jpg);
  }

  div{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
    h1{
      letter-spacing:0.5rem;
      font-weight: bold;
    }
    img{
      cursor:pointer;
      transition: all 0.5s linear;
      &:hover{
        filter: brightness(1.1);
        transform: scale(1.1);
      }
    }
  }
  @media(max-width: 768px){
    height: 32vh;
    div{
      width: 90%;
      
    }
    &.dark{
      background: url(../../assets/bg-mobile-dark.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.light{
      background: url(../../assets/bg-mobile-light.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    
  }
}